@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
:root {
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorInput: #B09A81;
  --colorInputHover: #DAAF7C;
  --colorInputPressed: #B08F67;
  --colorText: #462929;
  --colorButton: #1f4f3b;
  --colorButtonHover: #2D653A;
  --colorButtonPressed: #296036; }

.title {
  color: var(--colorWhite); }
  .title__promo {
    font-weight: bold;
    line-height: 80px;
    font-size: 80px;
    margin-bottom: 65px; }

.subtitle {
  color: var(--colorWhite); }
  .subtitle__promo {
    margin-bottom: 69px;
    font-size: 24px;
    line-height: 31px;
    font-weight: normal; }

.btn {
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s background;
  transition: 0.5s background; }
  .btn__large {
    background: var(--colorInput);
    color: var(--colorText);
    padding: 17px 29px;
    min-width: 180px;
    font-size: 20px;
    font-weight: 400; }
    .btn__large:hover {
      background: var(--colorInputHover); }
    .btn__large:active {
      background: var(--colorInputPressed); }
  .btn__middle {
    background: var(--colorButton);
    color: var(--colorInput);
    padding: 16px 40px;
    min-width: 139px;
    font-size: 18px;
    font-weight: normal; }
    .btn__middle:hover {
      background: var(--colorButtonHover); }
    .btn__middle:active {
      background: var(--colorButtonPressed); }
  .btn__small {
    background: var(--colorButton);
    color: var(--colorInput);
    padding: 6px 24px;
    min-width: 85px;
    font-size: 14px;
    font-weight: normal; }
    .btn__small:hover {
      background: var(--colorButtonHover); }
    .btn__small:active {
      background: var(--colorInput); }

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lora", serif; }

ul {
  padding: 0; }

.container {
  margin: 0 auto;
  width: 1270px;
  max-width: 100%; }

.header {
  display: block;
  width: 100%;
  height: 100px;
  padding: 39px 0 39px 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--colorBlack);
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); }
  .header__logo {
    height: 75px;
    width: 129px;
    position: absolute;
    left: 40px;
    top: 13px; }
  .header__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer; }
  .header__nav {
    height: 100%;
    width: 100%; }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .header__item {
    margin-right: 33px; }
  .header__link {
    color: var(--colorInput);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 0.3s color;
    transition: 0.3s color; }
    .header__link:hover {
      color: var(--colorInputHover); }

#root {
  width: 100%; }

.promo {
  width: 100%;
  min-width: 1600px;
  max-height: calc( 100vh - 100px );
  min-height: 980px;
  background: url(../icons/background/bg_mainPage.png);
  padding: 227px 0 0 221px; }

/*# sourceMappingURL=style.css.map */