.btn
    border-radius: 8px
    cursor: pointer
    &__promo
        background: var(--colorB09A81)
        color: var(--color462929)
        padding: 17px 56px
        font-size: 20px
        font-weight: 400